html, 
body, 
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#nav, 
.info {
  overflow: auto;
	z-index: 1;
	width: 500px;
}

#nav {
  position: absolute;
  max-height: 83%;
  padding-top: 90px;
  background-color: rgba(256, 256, 256, 0.5);
  top: 30px;
  left: 20px;
  border-radius: 10px;
}

#nav h2 {
  font-size: 12px;
  font-weight: 100;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 20px;
  padding: 5px 30px;
  width: 200px;
  border-radius: 5px;
  background-color: grey;
}

#nav h2:hover {
  background-color: #42454e;
}

.info {
  background-color: white;
  margin-left: 20px;
  width: 460px;
  margin-bottom: 20px 0;
}

.info p, 
h4, 
ul {
  padding: 0 20px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.info h3 {
  color: #1bba9a;
  padding: 0 20px;
  width: 280px;
  float: left;
}

.directions {
  margin-top: 15px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  width: 90px;
  background-color: #1bba9a;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-right: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar { 
  display: none; 
}

.header-fixed {
  position: absolute;
  z-index: 2;
  background: white url(img/header.png) no-repeat;
  top: 30px;
  left: 20px;
  background-size: 500px 90px;
  padding-left: 20px;
  width: 480px;
  height: 90px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.header-fixed h2 {
  margin-top: 20px;
  font-size: 25px;
}

.signature {
  position: absolute;
  background-color: rgba(256, 256, 256, 0.2);  
  color: white;
  border-radius: 5px;
  z-index: 2;
  padding: 5px 10px;
  left: 87%;
  top: 5px;
}

.signature a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.wiki li {
  background-color: #1bba9a;
  margin-top: 10px;
  padding: 10px 20px;
  list-style-type: none;
}

.wiki a {
  color: white;
  text-decoration: none;
}

.list {
	list-style-type: none;
	padding-left: 20px;
}

.list li {
  padding: 10px 10px;
  margin-top: 5px;
  background-color: #ebebeb;
  letter-spacing: 1px;
}

.list li:hover {
  background-color: #1bba9a;
}

.list li:active {
  background-color: grey;
}

/* ---------- SEARCH ---------- from: http://codepen.io/m412c0/pen/eDJui */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5em;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
  content: "";
  display: table; 
}

.clearfix:after { 
  clear: both;
}

.container {
  z-index: 1;
  height: 44px;
  left: 20px;
  position: absolute;
  top: 75px;
}

#search {
  background: #42454e;
  border-radius: 3px;
  display: inline-block;
  padding: 7px;
}

#search input {
  float: left;
}

#search input[type="search"],
#search input[type="submit"] {
  border-radius: 3px;
  font-size: 12px;
}

#search input[type="search"] {
  background: #fff;
  color: #42454e;
  min-width: 430px;
  padding: 6px 8px;
}

#search input[type="submit"] {
  background: #1bba9a;
  color: #fff;
  font-weight: bold;
  margin-left: 7px;
  padding: 6px 10px;
}

#search input[type="submit"]:hover {
  background: #189e83;
}

#search input[type="search"]::-webkit-input-placeholder { 
  color: #42454e;
}

#search input[type="search"]:-moz-placeholder { 
  color: #42454e;
}

#search input[type="search"]:-ms-input-placeholder { 
  color: #42454e;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .foursquare {
    display: none;
  }

  #nav, 
  .info {
    width: 90%;
  }

  #nav {
    font-size: 12px;
    max-height: 50%;
    padding-top: 50px;
    top: 10px;
    left: 5%;
  }

  .info {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .header-fixed {
    background: white url(img/header_mobile.png) no-repeat;
    top: 10px;
    left: 5%;
    background-size: 100%;
    padding-left: 0;
    width: 90%;
    height: 9%;
    border-radius: 5px 5px 0 0;
  }
  #nav h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 55px;
    padding: 5px 0px 5px 15px;
    width: 205px;
    border-radius: 0;
  }

  .info {
    background-color: white;
    margin-left: 10px;
    width: 95%;
    margin-bottom: 5px;
  }

  .info p, 
  h4, 
  ul {
    padding: 0 10px;
  }

  .info h3 {
    padding: 0 10px;
    width: 95%;
    float: left;
  }

  .directions {
    text-align: center;
    margin-top: 0;
    border-radius: 3px;
    float: left;
    width: 90px;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .signature {
    border-radius: 1px;
    padding: 5px;
    left: 65%;
    top: 95%;
  }

  .signature a {
    font-size: 8px;
  }

  .wiki li {
    margin-top: 0;
    padding: 5px 10px;
  }

  .list {
    padding-left: 10px;
  }

  .list li {
    padding: 10px 10px;
    margin-top: 5px;
  }

  /* ---------- SEARCH ---------- from: http://codepen.io/m412c0/pen/eDJui */
  input {
    line-height: 1.1em;
  }

  .container {
    height: 14px;
    left: 55px;
    top: 30px;
  }

  #search {
    border-radius: 2px;
    padding: 5px;
  }

  #search input[type="search"],
  #search input[type="submit"] {
    border-radius: 2px;
  }

  #search input[type="search"] {
    min-width: 200px;
    padding: 4px 6px;
  }

  #search input[type="submit"] {
    margin-left: 5px;
    padding: 4px 6px;
  }
}